//klik op de thumb  en u ziet drie verschillende outputs
//handig is dat de kleur, op 1 plek aanpassen, globaal wordt toegepast. 

$kleurGroen: green
$kleurGeel: yellow
$padding1: 1em
$padding2: 2em

.thumb
 &__text
  color: silver
 &:hover
  padding: $padding1
  
 &:nth-child(2)
  padding-top: 100px

.info
 &__text
  color: $kleurGroen
 &__text-Groot
  font-size: $padding2  

.informatie
 &--tekstGroen
  color: $kleurGroen
 &--tekstGeel
  color: $kleurGeel
 &--margin
  margin: $padding1